<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vdcompany.adminSmartbox.mapper.AgencyStoreMapper">

	<select id="getStoreList" parameterType="java.lang.Integer" resultType="com.vdcompany.adminSmartbox.bean.agency.AgencyStoreVO">
		SELECT agency.idx AS agc_idx, store.idx, agency.company_nm, agency.company_num, store.name AS store_name,
		store.company_num AS store_num,/* store.pg_comm, store.vd_comm,*/ store.contract, store.regdate
		FROM agency_store AS store,
		agency AS agency
		WHERE store.agc_idx = agency.idx
		<if test="agency_idx != 0">
			AND store.agc_idx = #{agency_idx,jdbcType=INTEGER}
		</if>
		ORDER BY agc_idx;

		<!--SELECT agency.company_name, agency.company_num, store.*
                FROM agency_store as store
                JOIN agency as agency
                ON store.agc_idx = agency.idx

                <if test="agency_idx != 0">
                    WHERE store.agc_idx = #{agency_idx,jdbcType=INTEGER}
                </if>
                ORDER BY idx-->
	</select>



	<select id="getSearchStoreList" parameterType="com.vdcompany.adminSmartbox.bean.agency.AgencySearchVO" resultType="com.vdcompany.adminSmartbox.bean.agency.AgencyStoreVO">

		SELECT store.idx, store.agc_idx, agency.company_name, agency.company_num, store.name AS store_name, store.company_num AS store_num, store.pg_comm, store.vd_comm, store.contract, store.regdate
		FROM agency_store AS store,
			agency AS agency
		WHERE store.agc_idx = agency.idx
		AND 1=1
        <if test="agc_idx != 0">
			AND store.agc_idx = #{agc_idx}
        </if>
        <if test="idx != 0">
			AND store.idx = #{idx}
        </if>
<!--        <if test="agency_num != null and !agency_num.equals('')">-->
<!--			AND agency.company_num LIKE CONCAT('%', #{agency_num}, '%')-->
<!--        </if>-->
<!--        <if test="store_num != null and !store_num.equals('')">-->
<!--			AND store.store_num LIKE CONCAT('%', #{store_num}, '%')-->
<!--        </if>-->
        <if test="contract != null and !contract.equals('-1')">
			AND store.contract = #{contract}
        </if>
<!--        <if test="pg1 != null and !pg1.equals('')">-->
<!--			AND commission_pg >= #{pg1}-->
<!--        </if>-->
<!--        <if test="pg2 != null and !pg2.equals('')">-->
<!--			AND commission_pg <![CDATA[ <= ]]> #{pg2}-->
<!--        </if>-->
<!--        <if test="vd1 != null and !vd1.equals('')">-->
<!--			AND commission_vd >= #{vd1}-->
<!--        </if>-->
<!--        <if test="vd2 != null and !vd2.equals('')">-->
<!--			AND commission_vd <![CDATA[ <= ]]> #{vd2}-->
<!--        </if>-->
<!--        <if test="reg1 != null and !reg1.equals('')">-->
<!--			AND store.regdate >= str_to_date(#{reg1}, '%Y-%m-%d')-->
<!--        </if>-->
<!--        <if test="reg2 != null and !reg2.equals('')">-->
<!--			AND store.regdate <![CDATA[ <= ]]> str_to_date(#{reg2}, '%Y-%m-%d')-->
<!--        </if>-->
        
		ORDER BY agc_idx
	
	</select>


	<insert id="insertStoreList" useGeneratedKeys="true" keyProperty="idx" parameterType="java.util.List">
	  INSERT INTO agency_store
	    (agc_idx, store_num, store_name, cate, commission_pg, commission_vd, contract)
	  VALUES

	    <foreach collection="list" item="item" separator=" , " >
	        (${item.agc_idx}, "${item.store_num}", "${item.store_name}", ${item.cate}
	        , ${item.commission_pg}, ${item.commission_vd}, ${item.contract} )
	    </foreach>
	</insert>



    <update id="updateStoreList" parameterType="com.vdcompany.adminSmartbox.bean.agency.AgencyStoreVO">
	    <foreach collection="list" item="item" index="index" separator=";" open="" close="">
		  	update agency_store set 
		  		agc_idx = ${item.agc_idx},
		  		store_num = "${item.store_num}", 
		  		store_name = "${item.store_name}",
		  		cate = ${item.cate},
		  		commission_pg = ${item.commission_pg},
		  		commission_vd = ${item.commission_vd},
		  		contract = ${item.contract}
		  	WHERE idx = ${item.idx}
	  	</foreach>
    </update>

	<update id="postAgencyStore" parameterType="hashmap">
		update agency_store set
		<if test="cate != null">
			cate = #{cate},
		</if>
		<if test="store_name != null and !store_name.equals('')">
			name = #{store_name},
		</if>
		<if test="store_company_num != null and !store_company_num.equals('')">
			company_num = #{store_company_num},
		</if>
		moddate = now()
		WHERE idx = ${store_num}
	</update>


	<select id="getAgencyStoreInfo" parameterType="com.vdcompany.adminSmartbox.bean.web.paging.PagingVO" resultType="com.vdcompany.adminSmartbox.bean.agency.AgencyVO" >
		SELECT idx,
			   company_nm,
			   company_num,
			   company_type,
			   rep_nm,
			   rep_tel,
			   rep_email,
			   zipcode,
			   address,
			   addr_detail,
			   regdate,
			   description,
			   store_idx,
			   agency_idx,
			   store_name,
			   store_company_num,
			   store_address,
			   store_addr_detail,
			   store_zipcode,
			   cate,
			   contract,
			   used,
			   pg_comm,
			   vd_comm,
			   store_regdate
		FROM (select idx,
					 company_nm,
					 company_num,
					 company_type,
					 rep_nm,
					 rep_tel,
					 rep_email,
					 zipcode,
					 address,
					 addr_detail,
					 regdate,
					 description
			  from agency) a,
			 (select idx         as store_idx,
					 agc_idx     as agency_idx,
					 name        as store_name,
					 company_num as store_company_num,
					 address     as store_address,
					 addr_detail as store_addr_detail,
					 zipcode     as store_zipcode,
					 cate,
					 contract,
					 used,
					 pg_comm,
					 vd_comm,
					 regdate     as store_regdate
			  from agency_store) b
		WHERE a.idx = agency_idx
		<if test="store_idx != null and !store_idx.equals('')">
			AND b.idx = #{store_idx}
		</if>
		<if test="filter != null and !filter.equals('')">
			AND ${filter}
		</if>
		ORDER BY store_name
		<if test="skip > -1 and take > 0">
			LIMIT #{skip}, #{take}
		</if>
	</select>

	<update id="postAgencyStoreInfo" parameterType="com.vdcompany.adminSmartbox.bean.agency.AgencyVO">
		UPDATE agency_store SET
		<if test="store_name != null and !store_name.equals('')">
			name = #{store_name},
		</if>
		<if test="store_company_num != null and !store_company_num.equals('')">
			company_num = #{store_company_num},
		</if>
		<if test="store_address != null and !store_address.equals('')">
			address = #{store_address},
		</if>
		<if test="store_addr_detail != null and !store_addr_detail.equals('')">
			addr_detail = #{store_addr_detail},
		</if>
		<if test="store_zipcode != null and !store_zipcode.equals('')">
			zipcode = #{store_zipcode},
		</if>
		<if test="cate != null and cate > -2">
			cate = #{cate},
		</if>
		<if test="contract != null and contract > -1">
			contract = #{contract},
		</if>
		<if test="used != null and used > -1">
			used = #{used},
		</if>
		<if test="pg_comm != null and pg_comm > -1">
			pg_comm = #{pg_comm},
		</if>
		<if test="vd_comm != null and vd_comm > -1">
			vd_comm = #{vd_comm},
		</if>
		<if test="store_regdate != null">
			regdate = #{store_regdate},
		</if>
		moddate = now()
		WHERE idx = #{store_idx}
	</update>

	<insert id="putAgencyStoreInfo" parameterType="com.vdcompany.adminSmartbox.bean.agency.AgencyVO">
		insert into agency_store (
			agc_idx, name, company_num, zipcode, address,
		    addr_detail, cate, contract, used, pg_comm,
		    vd_comm, regdate, moddate
		)
		values (
				   #{agency_idx,jdbcType=INTEGER}, #{store_name,jdbcType=VARCHAR}, #{store_company_num,jdbcType=VARCHAR}, #{store_zipcode,jdbcType=VARCHAR}, #{store_address,jdbcType=VARCHAR},
				   #{store_addr_detail,jdbcType=VARCHAR}, #{cate,jdbcType=INTEGER}, #{contract,jdbcType=INTEGER}, #{used,jdbcType=INTEGER}, #{pg_comm,jdbcType=FLOAT},
				   #{vd_comm,jdbcType=FLOAT}, now(), now()
			   )
	</insert>

	<delete id="delAgencyStoreInfo" parameterType="com.vdcompany.adminSmartbox.bean.agency.AgencyVO">
		DELETE FROM agency_store WHERE idx = #{store_idx}
	</delete>

</mapper>