<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vdcompany.adminSmartbox.mapper.AgencyStoreMapper">

	<select id="getStoreList" parameterType="java.lang.Integer" resultType="com.vdcompany.adminSmartbox.bean.agency.AgencyStoreVO">
		SELECT agency.idx AS agc_idx, store.idx, agency.company_name, agency.company_num, store.name AS store_name, store.company_num AS store_num, store.pg_comm, store.vd_comm, store.contract, store.regdate
		FROM agency_store AS store,
		agency AS agency
		WHERE store.agc_idx = agency.idx
		<if test="agency_idx != 0">
			AND store.agc_idx = #{agency_idx,jdbcType=INTEGER}
		</if>
		ORDER BY agc_idx;

		<!--SELECT agency.company_name, agency.company_num, store.*
                FROM agency_store as store
                JOIN agency as agency
                ON store.agc_idx = agency.idx

                <if test="agency_idx != 0">
                    WHERE store.agc_idx = #{agency_idx,jdbcType=INTEGER}
                </if>
                ORDER BY idx-->
	</select>



	<select id="getSearchStoreList" parameterType="com.vdcompany.adminSmartbox.bean.agency.AgencySearchVO" resultType="com.vdcompany.adminSmartbox.bean.agency.AgencyStoreVO">

		SELECT store.idx, store.agc_idx, agency.company_name, agency.company_num, store.name AS store_name, store.company_num AS store_num, store.pg_comm, store.vd_comm, store.contract, store.regdate
		FROM agency_store AS store,
			agency AS agency
		WHERE store.agc_idx = agency.idx
		AND 1=1
        <if test="agc_idx != 0">
			AND store.agc_idx = #{agc_idx}
        </if>
        <if test="idx != 0">
			AND store.idx = #{idx}
        </if>
<!--        <if test="agency_num != null and !agency_num.equals('')">-->
<!--			AND agency.company_num LIKE CONCAT('%', #{agency_num}, '%')-->
<!--        </if>-->
<!--        <if test="store_num != null and !store_num.equals('')">-->
<!--			AND store.store_num LIKE CONCAT('%', #{store_num}, '%')-->
<!--        </if>-->
        <if test="contract != null and !contract.equals('-1')">
			AND store.contract = #{contract}
        </if>
<!--        <if test="pg1 != null and !pg1.equals('')">-->
<!--			AND commission_pg >= #{pg1}-->
<!--        </if>-->
<!--        <if test="pg2 != null and !pg2.equals('')">-->
<!--			AND commission_pg <![CDATA[ <= ]]> #{pg2}-->
<!--        </if>-->
<!--        <if test="vd1 != null and !vd1.equals('')">-->
<!--			AND commission_vd >= #{vd1}-->
<!--        </if>-->
<!--        <if test="vd2 != null and !vd2.equals('')">-->
<!--			AND commission_vd <![CDATA[ <= ]]> #{vd2}-->
<!--        </if>-->
<!--        <if test="reg1 != null and !reg1.equals('')">-->
<!--			AND store.regdate >= str_to_date(#{reg1}, '%Y-%m-%d')-->
<!--        </if>-->
<!--        <if test="reg2 != null and !reg2.equals('')">-->
<!--			AND store.regdate <![CDATA[ <= ]]> str_to_date(#{reg2}, '%Y-%m-%d')-->
<!--        </if>-->
        
		ORDER BY agc_idx
	
	</select>


	<insert id="insertStoreList" useGeneratedKeys="true" keyProperty="idx" parameterType="java.util.List">
	  INSERT INTO agency_store
	    (agc_idx, store_num, store_name, cate, commission_pg, commission_vd, contract)
	  VALUES

	    <foreach collection="list" item="item" separator=" , " >
	        (${item.agc_idx}, "${item.store_num}", "${item.store_name}", ${item.cate}
	        , ${item.commission_pg}, ${item.commission_vd}, ${item.contract} )
	    </foreach>
	</insert>



    <update id="updateStoreList" parameterType="com.vdcompany.adminSmartbox.bean.agency.AgencyStoreVO">
	    <foreach collection="list" item="item" index="index" separator=";" open="" close="">
		  	update agency_store set 
		  		agc_idx = ${item.agc_idx},
		  		store_num = "${item.store_num}", 
		  		store_name = "${item.store_name}",
		  		cate = ${item.cate},
		  		commission_pg = ${item.commission_pg},
		  		commission_vd = ${item.commission_vd},
		  		contract = ${item.contract}
		  	WHERE idx = ${item.idx}
	  	</foreach>
    </update>

	<update id="postAgencyStore" parameterType="hashmap">
		update agency_store set
		<if test="cate != null">
			cate = #{cate},
		</if>
		<if test="store_name != null and !store_name.equals('')">
			name = #{store_name},
		</if>
		<if test="store_company_num != null and !store_company_num.equals('')">
			company_num = #{store_company_num},
		</if>
		moddate = now()
		WHERE idx = ${store_num}
	</update>



</mapper>