<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vdcompany.adminSmartbox.mapper.BoxMapper">



	<select id="getBoxList" parameterType="com.vdcompany.adminSmartbox.bean.web.paging.PagingVO" resultType="com.vdcompany.adminSmartbox.bean.box.BoxVO">
		SELECT  agency_idx,
				info.store_idx                                            as store_idx,
				info.box_idx                                              as box_idx,
				info.box_name                                             as box_name,
				info.description,
				box.serial,
				box.box_id                                                as box_id,
				box.status,
				store.store_name                                          as store_name,
				store.store_num                                           as store_num,
				store.cate                                                as cate,
				IFNULL(store.store_company_num, '-')                      as store_company_num,
				agency.company_nm                                         as agency_name,
				box.regdate                                               as regdate,
				IFNULL(DATE_FORMAT(box.regdate, '%y-%m-%d'), '00-00-00')  as regdate_form
		FROM (select agc_idx as agency_idx, agc_sto_idx as store_idx, box_idx, alias as box_name, description
				from sb_box_info) as info,
			 (select idx, serial, id as box_id, status, regdate from sb_box) as box,
			 (select idx as store_num, name as store_name, cate, company_num as store_company_num from agency_store) as store,
		 	 (select idx, company_nm from agency) as agency
		WHERE 1 = 1
			AND info.box_idx = box.idx
			AND info.store_idx = store_num
			AND info.agency_idx = agency.idx
		<if test="box_id != null and !box_id.equals('')">
			AND box.box_id = #{box_id}
		</if>
		<if test="filter != null and !filter.equals('')">
			AND ${filter}
		</if>
		ORDER BY info.box_idx
		<if test="skip > -1 and take > 0">
		LIMIT #{skip}, #{take}
		</if>
	</select>

	<update id="postBox" parameterType="hashmap">
		UPDATE sb_box SET
		<if test="serial != null and !serial.equals('')">
			serial = #{serial},
		</if>
		<if test="box_id != null and !box_id.equals('')">
			id = #{box_id},
		</if>
		<if test="status != null and !status.equals('')">
			status = #{status},
		</if>
		moddate = now()
		WHERE id = #{key}
	</update>


	<update id="postBoxInfo" parameterType="hashmap">
		update sb_box_info set
		<if test="box_name != null and !box_name.equals('')">
			alias = #{box_name},
		</if>
		<if test="description != null and !description.equals('')">
			description = #{description},
		</if>
		moddate = now()
		WHERE box_idx = #{box_idx}
	</update>

	<insert id="putBox" useGeneratedKeys="true" keyColumn="idx"  keyProperty="box_idx"  parameterType="com.vdcompany.adminSmartbox.bean.box.BoxVO">
		insert into sb_box (
			id, serial, status, used, regdate, moddate
		)
		values (
				   #{box_id}, #{serial},
				   #{status}, 0, now(), now()
			   )
	</insert>

	<delete id="deleteBox" parameterType="hashmap">
		DELETE FROM sb_box WHERE id = #{box_id}
	</delete>


	<insert id="putBoxInfo" parameterType="com.vdcompany.adminSmartbox.bean.box.BoxVO">
		insert into sb_box_info (
			box_idx, agc_idx, agc_sto_idx, alias, description, regdate, moddate
		)
		values (
				   #{box_idx,jdbcType=VARCHAR}, #{agc_idx,jdbcType=VARCHAR}, #{store_num,jdbcType=VARCHAR},
				   #{box_name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
				   now(), now()
			   )
	</insert>

	<delete id="deleteBoxInfo" parameterType="hashmap">
		DELETE FROM sb_box_info WHERE box_idx = #{box_idx}
	</delete>


</mapper>