<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vdcompany.adminSmartbox.mapper.GoodsMapper">


	<select id="getGoodsList" parameterType="com.vdcompany.adminSmartbox.bean.web.paging.PagingVO"  resultType="com.vdcompany.adminSmartbox.bean.goods.GoodsVO">
		SELECT idx, skuid, goods_name, goods_code, barcode,
			   brand, brand_name, price, image, weight,
			   status, used, regdate, moddate
		FROM (select idx, skuid, name as goods_name, gcode as goods_code, barcode, brand, price, image, weight, status, used, regdate, moddate from sb_goods) a,
			 (select idx as brd_idx, brand as brand_name from sb_goods_brand) b
		WHERE a.brand = b.brd_idx
		<if test="idx != null and idx > -1">
			AND idx = #{idx}
		</if>
		<if test="filter != null and !filter.equals('')">
			AND ${filter}
		</if>
		ORDER BY idx
		<if test="skip > -1 and take > 0">
			LIMIT #{skip}, #{take}
		</if>
	</select>


	<update id="updateGoodsImage" parameterType="com.vdcompany.adminSmartbox.bean.goods.GoodsVO">
		UPDATE sb_goods SET
		<if test="image != null and !image.equals('')">
			image = #{image},
		</if>
		moddate = now()
		WHERE idx = #{idx}
	</update>

</mapper>