<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vdcompany.adminSmartbox.mapper.LookupMapper">


	<select id="getLookupAgency" resultType="com.vdcompany.adminSmartbox.bean.lookup.LookupVO">
		SELECT idx as agency_idx, company_nm as agency_name
      	FROM agency
		ORDER BY company_nm asc
	</select>


	<select id="getLookupStoreInfo" resultType="com.vdcompany.adminSmartbox.bean.lookup.LookupVO">
		SELECT a.agc_idx as agency_idx, b.company_nm as agency_name, a.name as store_name, a.idx as store_idx
		FROM agency_store a,
			 agency b
		WHERE a.agc_idx = b.idx
		ORDER BY company_nm, store_name asc
	</select>


	<select id="getLookupBrandInfo" resultType="com.vdcompany.adminSmartbox.bean.lookup.LookupVO">
		SELECT idx as brand, brand as brand_name
		FROM sb_goods_brand
		ORDER BY brand asc
	</select>

</mapper>