<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vdcompany.adminSmartbox.mapper.PolicyMapper">

    <select id="getPolicyList" parameterType="java.lang.Integer"
            resultType="com.vdcompany.adminSmartbox.bean.policy.PolicyVO">
        SELECT catagory AS cate, a_context, c_context
        FROM policy_terms_of_service
        WHERE app_type = #{app_type}
    </select>


    <update id="postPolicyList" parameterType="com.vdcompany.adminSmartbox.bean.policy.PolicyVO">
        <foreach collection="listMap" item="item" separator=";">
            UPDATE policy_terms_of_service SET a_context = #{item.context} WHERE catagory = #{item.catagory} AND
            app_type = #{app_type}
        </foreach>
    </update>

</mapper>